
<html>
<head>
<!-- CSS style -->
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}
table.center {
    margin-left:auto; 
    margin-right:auto;
}
</style>
</head>
<body>
<!-- {% block content %} -->
<h1>Lab Results Finder</h1>
    testing
    <a href="{{ url_for('search') }}" type="button" class="btn btn-outline-primary">Search Page </a>
    <!-- <a href="{{ url_for('search') }}">Search</a> -->
  </body>
  <!-- {% endblock %} -->
